*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.container-fluid{
  margin: 0 auto;
}

/* ------------heading------------- */

body{
  overflow-x: hidden;
}
header{
  height: 10vh;
  /* background-color: red; */
  /* background-color: #f3e2b3 !important; */
  background-color: azure;
  /* width: 1450px; */
  margin: 0 auto;
  height: 10vh;
  
}


}
h1{
    margin top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 300%;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}
.text-box{
    position: absolute;
    top: 35%;
    left: 20%;

}

.menuLink,.gameLink,.editLink{
  text-decoration: none;
}
.menuLink:link,
.menuLink:visited{
  display: inline-block;
  color: #8b4513;
  transition: color 0.5s;
  /* color:seagreen;
  transition: color 0.5s; */
  
  
}
.menuLink:hover,
.menuLink:active{
  display: inline-block;
  /* color: #135f8b; */
      color:#7b2886;
  /* transition: color 0.5s; */
  
}
.ulNavigation{
  list-style: none;
  
}
.ulNavigation li{
  display: inline-block;
  
}
.firstList{
  padding-left: 4%;
  padding-top: 0.9%;
  display: inline-block;
}
.secondList{
  float: right;
  padding-right: 4%;
  padding-top: 1.5%;
  display: inline-block;
}
.thirdList{
  float: right;
  padding-right: 5%;
  padding-top: 1.5%;
  display: inline-block;
}
.menuLink h2{
  font-family: 'Permanent Marker', sans-serif;
  font-weight: 1000;
  text-shadow:#41a083;
  word-spacing: 0.1%;
  font-size: 200%;
  letter-spacing: 1px;
}
.editLink:link,
.editLink:visited {
  color: #8b4513;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid #8b4513 transparent none;
  transition: border-bottom 0.2s;
  font-weight: 500;

}
.editLink:hover,
.editLink:active{
  border-bottom: 2px solid #8b4513;
  color: red;
  transition: color 0.2s, border-bottom 0.2s;
}

.gameLink:link,
.gameLink:visited {
  color: #8b4513;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid #8b4513 transparent none;
  transition: border 0.5s color 0.5s;
  font-weight: 500;

}
.gameLink:hover,
.gameLink:active{
  border-bottom: 2px solid #8b4513;
  color: rgb(26, 128, 106);
  transition: color 0.5s, border 0.5s;
}
.section-one{
  background-color: #dbd2b7 !important;
  height: 90vh;
  width: auto;
  /* background-image: linear-gradient(rgba(150, 73, 73, 0.2),rgba(0,0,0,0.2)), url(wall5.jpg); */
  background-size: cover;
  background-position: center;
  /* opacity: 90%; */
  /* background-attachment: fixed; */

  
}

/* --------navi bar ---------- */
.main-navi {
    float: right;
    list-style: none;
    margin-top: 25px;
}
.main-navi li{
    display: inline-block;
    margin-left: 35px;
}
.main-navi li a:link,
.main-navi li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent none;
    transition: border-bottom 0.2s;
    padding: 8px 0px;
}
.main-navi li a:hover,
.main-navi li a:active {
    border-bottom: 2px solid #af5404;
}
/* -----------form-------------- */




/* -------------------selection 1 ---------------- */

#countryList{
  display: inline-block;
  height:75vh;
  overflow-y: auto;
  border: 2px solid black;
  width: 18%;
  margin-left: 2%;
  scrollbar-color: auto;
}

#countryList div.hide{
  display:none;
}
#content{
  display: inline-block;
  vertical-align: top;
  padding-left:100px;
  border: 2px solid black;
  width: 77%;
  height: 75vh;
  
}
.selector-one, .selector-two,.selector-three,.selector-fours {
  display: inline-block;
  padding-bottom: 3%;
  padding-top: 2%;
  /* background-color: olive; */
}
.selector-one {
  float: left;
  padding-left: 0.5%;
}
.selector-two{
  padding-left: 10%;
  float: left;
}
.selector-three{
  padding-left: 10%;
  float: left;
}
.selector-fours{
  padding-left: 10%;
}
#country,#continent,#quizgame{
  border: 2px solid #8b4513;
  font-size: 90%;
}
.seclabel{
  font-weight: 500;
  font-size: 110%;
  padding-right: 4px;
  text-align: center;
  display: inline-block;
  
  
}
.select-one{
  width: 20%;
  border-radius: 20%;
  height: 30px;
  text-align: center;
  
  
}
.alpha{
  padding-left: 5%;
  /* overflow: hidden; */
  
}
.filterData{
  padding-top: 1%;
  padding-bottom: 1%;
  /* overflow: hidden; */
  
}

#playbtn{
  background-color: skyblue;
}
#questions{
  font-size: 200%;
  font-weight: 400;
  padding-left: 10%;
  padding-top: 5%;

  
}
#answer{
  padding-left: 10%;
  font-size: 100%;
  padding-top: 0.7%;
  font-weight: 400;
}



/* -----------from index.js ---------------- */

.tbone{
  position: relative;
  padding-top: 7%;
  padding-left: 25%;
  display: inline-block;
  float: left;
}
.tbone th{
  text-align: center;
  /* padding-left: 3%; */
}
.popRank{
  display: inline-block;
  float: left;
  padding-left: 20%;
  padding-top: 3%;
}
.rank{
  text-align: center;
}
.flagImage img{
  max-width: 300px;
  max-height: 300px;
  border: 1px solid;
  /* width: 100%; */
  opacity: 85%;
  transform: scale(1.0);
  transition: transform 0.5s, opacity 0.5s, scale 0.5s;
  background-color: #000;
  margin-bottom: 10px;

}

.flagImage img:hover{
  transform: scale(1.03);
  opacity: 1;
}

.letters{
  font-size: 15px;
  text-align: center;
  padding: 1px;
  width: 3%;
}


/* ----------------button----------------- */
/* ----------------pop up game ----------- */
.gamebody{
  text-align: center;
  /* padding:1% */
}

.b1{
  background-color: rgb(122, 176, 238);
  border: rgb(122, 176, 238);
}
.b2{
  background-color: orange;
  border: orange;
}
.b3{
  background-color: rgb(169, 106, 228);
  border: blueviolet;
}
.b4{
  background-color: rgb(219, 86, 112);
  border: crimson;
}

.next{
  background-color: rgb(6, 39, 39);
  color: black;
}

#flagimg{
  border: 1px solid;
  margin-top: 5%;
  margin-left: 7%;
  width: 20%;
  height: 10%;
  opacity: 90%;
  transform: scale(1.0);
  transition: transform 0.5s, opacity 0.5s, scale 0.5s;
  background-color: #000;
  
}

#flagimg:hover{
  transform: scale(1.03);
  opacity: 1;
}

/* ---------------------------edit data ------------------------------ */
.editbtn{
  float: right;

}
.editinfo{
  padding-top: 2%;
}




