<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Countries</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;1,300&family=Padauk:wght@400;700&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src=../static/index.js></script>
    <link rel="stylesheet" href="../static/index.css">

</head>
<body>
    <div class="container-fluid">
        <header class="shadow-lg">
            <nav>
                <div class="menubar">
                    <ul class="ulNavigation">
                        <li class="firstList"><a href="#" class="menuLink" id="reload"><h2>World fact book</h2></a></li>
                        <li class="thirdList"><a href="#" class="editLink" data-bs-toggle="modal" data-bs-target="#edit">Edit</a></li>
                        <li class="secondList"><a href="#" class="gameLink" data-bs-toggle="modal" data-bs-target="#game">Play Game</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="section-one">
        <div class="row filterData">
        <!-- <div class="mid-row"> -->

            <div class="col-3 alpha"> 
                <label for="country" class="seclabel">Filter with </label>
                <select id="country" class="select-one">
                    <option value="#">ALL</option>
                </select>
            </div>
            <div class="col-3 alpha"> 
                <label for="continent" class="seclabel">Filter with </label>
                <select id="continent" class="select-two">
                </select>
            </div>
            <!------------------- for quiz section ---------------------->
            <div class="col-3 alpha">
                <!-- <label for="quiz" class="seclabel">Play with</label>
                <select id="quizgame" class="select-three">
                    <option value="population">Population</option>
                    <option value="gdp">GDP</option>
                    <option value="area">Area</option>
                    <option value="flag">Flag</option>
                </select>
                <button id="playbtn">Play</button> -->
            </div>
            <!-------------------- for edit section -------------->

            <div class="col-3 alpha">
                <button id="editData" value="edit">EditData</button>
            </div>
        </div>
        <!-- </div> -->
            <div class="row">
                <div id = question ></div>
                <!-- end -->
                <div class="table">
                    <div id=countryList class="col-2"></div>
                    <div id =content class="col-10">

                    </div>
                </div>
            </div>
        </div>

        <!--------------- pop up model ------------>
        
        <!-- Button trigger modal -->
          
          <!-- Modal -->
          <div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Edit Data</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- <div>
                        <h2>GET</h2>
                        <input id=getid value=42>
                        <button id=getbutton>GET</button>
                        <textarea id=getoutput></textarea>
                    </div> 
                    <div>
                        <h2>DELETE</h2>
                        <input id=deleteid value=42>
                        <button id=deletebutton>DELETE</button>
                    </div>  
                    
                    <div>
                        <h2>POST</h2>
                        <label>id: <input id=postid value=42></label><br>
                        <label>name: <input id=postname value='Cuba'></label><br>
                        <label>continent: <input id=postcontinent value=Caribbean></label><br>
                        <label>capital: <input id=postcapital value=Havana></label><br>
                        <label>area: <input id=postarea value=109884></label><br> -->
                        <!-- <label>population: <input id=postpopulation value=11167325></label><br>
                        <label>gdp: <input id=postgdp value=71070></label><br>
                        <label>flag: <input id=postflag value=//upload.wikimedia.org/wikipedia/commons/b/bd/Flag_of_Cuba.svg></label><br>
                        <label>tld: <input id=posttld value=.cu></label><br> -->
                        <!-- <button id=postbutton>POST</button>
                    </div>

                    <div>
                        <h2>PUT</h2>
                        <label>id: <input id=putid value=42></label><br>
                        <label>name: <input id=putname value='Cuba'></label><br>
                        <label>continent: <input id=putcontinent value=Caribbean></label><br>
                        <label>capital: <input id=putcapital value=Havana></label><br>
                        <label>area: <input id=putarea value=109884></label><br> -->
                        <!-- <label>population: <input id=putpopulation value=11167325></label><br>
                        <label>gdp: <input id=putgdp value=71070></label><br>
                        <label>flag: <input id=putflag value=//upload.wikimedia.org/wikipedia/commons/b/bd/Flag_of_Cuba.svg></label><br>
                        <label>tld: <input id=puttld value=.cu></label><br> -->
                        <!-- <button id=putbutton>PUT</button>
                    </div> -->

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Understood</button>
                </div>

              </div>
            </div>
          </div>


          <!-------------------------- for question ----------------------------------->
          <div class="modal fade" id="game" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog ">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Choose The Game </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-secondary b1" id="bone">Population</button>
                    <button type="button" class="btn btn-secondary b2" id="btwo">GDP</button>
                    <button type="button" class="btn btn-secondary b3" id="bthree">Area</button>
                    <button type="button" class="btn btn-secondary b4" id="bfour">Flag</button>
                   

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                </div>
                
              </div>
            </div>
          </div>

    </section>
    <!-- <section class="section-two" id = visible > -->
        <div>
            <h2>GET</h2>
            <input type="text" id='getid' value=42>
            <button id='getbutton'>GET</button>
            <textarea id=getoutput></textarea>
        </div> 
        <div>
            <h2>DELETE</h2>
            <input id=deleteid value=42>
            <button id=deletebutton>DELETE</button>
        </div>  
        

        <!-- <div>
            <h2>POST</h2>
            <label>id: <input id=postid value=42></label><br>
            <label>name: <input id=postname value='Cuba'></label><br>
            <label>continent: <input id=postcontinent value=Caribbean></label><br>
            <label>capital: <input id=postcapital value=Havana></label><br>
            <label>area: <input id=postarea value=109884></label><br>
            <label>population: <input id=postpopulation value=11167325></label><br>
            <label>gdp: <input id=postgdp value=71070></label><br>
            <label>flag: <input id=postflag value=//upload.wikimedia.org/wikipedia/commons/b/bd/Flag_of_Cuba.svg></label><br>
            <label>tld: <input id=posttld value=.cu></label><br>
            <button id=postbutton>POST</button>
        </div>     -->
        
    <!-- </section> -->
    </div>
</body>
</html>
