<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=C, initial-scale=1.0">
    <title>Countries</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
    <script src=../static/index.js></script>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <header>
        <nav>
            <div class="mid-row">
                <ul class="main-navi">
                    <li>
                        <a href="#">Play Quiz</a>
                    </li>
                    <li>
                        <a href="#">ADD</a>
                    </li>
                    <li>
                        <a href="#">Delete</a>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="text-box">
            <h1>Welcome from the world!!</h1>
        </div>
    </header>
    <section class="section-one">
        <div class="mid-row">
            <div class="selector-one"> 
                <label for="country" class="cty-label">Filter with </label>
                <select id="country" class="select-one">
                    <option value="#">ALL</option>
                </select>
            </div>
            <div class="selector-two"> 
                <label for="continent" class="cty-label">Filter with </label>
                <select id="continent" class="select-two">
                </select>
        </div>
        <div class="table">
            <div id=countryList></div>
            <div id=content></div>
        </div>
    </section>

</body>
</html>