<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Countries</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;1,300&family=Padauk:wght@400;700&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src=../static/index.js defer></script>
    <link rel="stylesheet" href="../static/index.css">

</head>
<body>
    <div class="container-fluid">
        <header class="shadow-lg">
            <nav>
                <div class="menubar">
                    <ul class="ulNavigation">
                        <li class="firstList"><a href="#" class="menuLink" id="reload"><h2>World fact book</h2></a></li>
                        <li class="thirdList"><a href="#" class="editLink" data-bs-toggle="modal" data-bs-target="#edit">Edit</a></li>
                        <li class="secondList"><a href="#" class="gameLink" data-bs-toggle="modal" data-bs-target="#game">Play Game</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="section-one">
        <div class="row filterData">
        <!-- <div class="mid-row"> -->

            <div class="col-3 alpha"> 
                <label for="country" class="seclabel">Filter with </label>
                <select id="country" class="select-one">
                    <option value="#">ALL</option>
                </select>
            </div>
            <div class="col-3 alpha"> 
                <label for="continent" class="seclabel">Filter with </label>
                <select id="continent" class="select-two">
                </select>
            </div>
        </div>
        <!-- </div> -->
            <div class="row">
                <div id = question ></div>
                <!-- end -->
                <div class="table">
                    <div id=countryList class="col-2"></div>
                    <div id =content class="col-10">

                    </div>
                </div>
            </div>
        </div>

        <!--------------- pop up model ------------>
        
          <div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Edit Data</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="editinfo">
                        <h2>GET</h2>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">ID: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=getid value=42>
                            <button class="btn btn-primary" type="submit" id=getbutton >GET</button>
                        </div>

                        <textarea class="form-control"  rows="3" id=getoutput></textarea>

                    </div> 
                    <div class="editinfo">
                        <h2>DELETE</h2>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">ID: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=deleteid value=42>
                            <button class="btn btn-primary" type="submit" id=deletebutton >DEL</button>
                        </div>

                    </div>  
                    
                    <div class="editinfo">
                        <h2>POST</h2>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">ID: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=postid value=42>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Name: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=postname value='Cuba'>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Continent: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=postcontinent value=Caribbean>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Capital: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=postcapital value=Havana>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Area: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=postarea value=109884>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Population: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=postpopulation value=11167325>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">GDP: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=postgdp value=71070>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Flag: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=postflag value=//upload.wikimedia.org/wikipedia/commons/b/bd/Flag_of_Cuba.svg>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">TLD: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=posttld value=.cu>
                        </div>
                        <button class="btn btn-primary editbtn" type="submit" id=postbutton >POST</button>

                    </div>

                    <div class="editinfo">
                        <h2>PUT</h2>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">ID: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=putid value=42>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Name: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=putname value='Cuba'>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Continent: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=putcontinent value=Caribbean>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Capital: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=putcapital value=Havana>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Area: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=putarea value=109884>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Population: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=putpopulation value=11167325>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">GDP: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=putgdp value=71070>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Flag: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=putflag value=//upload.wikimedia.org/wikipedia/commons/b/bd/Flag_of_Cuba.svg>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">TLD: </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id=puttld value=.cu>
                        </div>
                        <button class="btn btn-primary editbtn" type="submit" id=putbutton >PUT</button>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>


          <!-------------------------- for question ----------------------------------->
          <div class="modal fade" id="game" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog ">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Choose The Game </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body gamebody">
                    <button type="button" class="btn btn-secondary b1" id="bone">Population</button>
                    <button type="button" class="btn btn-secondary b2" id="btwo">GDP</button>
                    <button type="button" class="btn btn-secondary b3" id="bthree">Area</button>
                    <button type="button" class="btn btn-secondary b4" id="bfour">Flag</button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                </div>
                
              </div>
            </div>
          </div>

    </section>
    </div>
</body>
</html>
